body {
	font-family: verdana, sans-serif;
}

p {
	margin-top: 0;
	margin-bottom: 0;
}
p + p {
	margin-top: 1em;
}

.hidden {
	display: none !important;
}

div#container {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: black;
}

div.helpbox {
	z-index: 10;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: auto;
	height: auto;
	border-radius: 1em;
	padding: 1em;
	background-color: rgb(32,32,32);  /* Fallback if no alpha support */
	background-color: rgba(32,32,32,0.9);
	color: white;
}

div.imagebox {
	z-index: 1;
	position: fixed;
	width: auto;
	height: auto;
	border: solid white 2px;
	padding: 0;
	background-color: black;
}

div.editbox {
	z-index: 1;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: auto;
	height: auto;
	border: solid white 2px;
	padding: 5px;
	background-color: black;
}

div.imagelist {
	display: flex;
	white-space: pre;
	align-items: center;
	vertical-align: middle;
}

div.imagelist img {
	margin: 3px;
}

div.buttonholder {
	display: inline-block;
	height: 100%;
}

div.button {
	display: block;
	width: auto;
	height: auto;
        font-size: 60%;
	border: 1px solid rgb(56,56,56);
	padding: 0.5em;
	border-radius: 0.5em;
	background-color: rgb(224,224,224);
	color: black;
	cursor: pointer;
}

div.button:hover {
	background-color: rgb(255,255,255);
}

div.button.red {
	border-color: rgb(63,21,21);
	background-color: rgb(255,85,85);
}

div.button.red:hover {
	background-color: rgb(255,112,112);
}

table.keylist {
	margin: 0.5em 1.5em;
	padding: 0;
	border: none;
	border-collapse: collapse;
	border-spacing: 0;
	white-space: pre;
}

table.keylist th {
	color: yellow;
	text-align: right;
}
